html,body{
  height:100%;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

body:after{
    display:none;
    content: url(../img/ipadandpen-bg-darkened.jpg) url(../img/deskandpad-bg-darkened.jpg) url(../img/muffins-bg-darkened.jpg) url(../img/wineglasses-bg-darkened.jpg);
}

.page {
  height:100%;
  /*min-width: 500px;*/
}
.above-fold {
    height: 70%;
  }
.carousel {
  background-color: #666;
}
.carousel,.item,.active{
  height:100%;
  width: 100%;
}

h3 {
  line-height: 46px;
}

h4 {
  text-transform:uppercase; 
  font-size: 22px;
}

h5 {
  text-transform:uppercase; 
  font-size: 18px;
}

.byline {
  font-style:italic;
  font-size: 18px;
  line-height: 24px;
}

.captioned {
  padding: 20px;
}

.quotes {
  margin-top: 20px;
}

.quote {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
}

.captioned p {
  padding: 10px 0px;
}

.grey {
  background-color: #eee;
}

.grey .container {
  padding-bottom: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
}

.row {
  padding-top: 40px;
}

.questions {
  text-align: left;
  background-color: #eee;
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.questions .row {
  padding-top: 0;
}
.questions .questions-inner {
  padding: 10px 20px;
}

.questions .question {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.questions .answer {
  margin-bottom: 20px;
}

.footer span {
  font-weight: 100;
  font-size: 12px;
}

.row.bylines {
  padding-top: 30px;
}

.ipad {
  background: url(../img/ipadandpen-bg-darkened.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.desk {
  background: url(../img/deskandpad-bg-darkened.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cafe {
  background: url(../img/muffins-bg-darkened.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bar {
  background: url(../img/wineglasses-bg-darkened.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel {
  margin: 0;
}

.carousel-inner{height:100%;}

.carousel-controls {
  position: absolute;
  top: 40%;
  left: 15px;
  margin-top: -20px;
  color: #fff;
  text-align: center;
  /*opacity: .5;
  filter: alpha(opacity=50);*/
}

.carousel-controls.right {
  right: 15px;
  left: auto;
}

.carousel-indicators {
top: auto;
bottom: 5px;
width: auto;
left: auto;
right: 15px;
}

.carousel-text {
  position: absolute;
  top: 30%;
  /*width: 100%;*/
  left:40px;
  right:40px;
  text-align: center;
  color: #fff;
}


img.logo {

}

.content {
  padding-top: 90px;
}

.topbar {
  z-index: 10;
  width: 100%;
  height: 90px;
  /*min-width: 500px;*/
  background-color: #eee;
  color: #000;
  position: absolute;
}



.topbar-inner {
  padding: 20px;

}

.topbar .btn {
  margin-top: 5px;
  background-color: #333;
  color: #fff;
}

.topbar .btn:hover {
  margin-top: 5px;
  background-color: #444;
  color: #fff;
}

.topbar .btn.no-style {
  color: #333;
}

.topbar.topbar-clear .btn {
  margin-top: 5px;
  background-color: #fff;
  color: #333;
}

.topbar.topbar-clear .btn:hover {
  margin-top: 5px;
  background-color: #eee;
  color: #333;
}

.topbar.topbar-clear .btn.no-style {
  background: none;
  padding: 10px 20px;
  color: #fff;
}

.btn {
  border: none;
  border-radius: 25px;
  text-transform:uppercase; 
  padding: 10px 50px;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}

.btn:hover {
  background-color: #ddd;
}

.btn-big {
  padding: 20px 40px;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-green {
  background-color: #27ae60;
  color: #fff;
}

.btn-green:hover {
  background-color: #2ecc71;
  color: #fff;
}

.btn.no-style, .btn.no-style:hover {
  background: none;
  padding: 10px 20px;
  color: #fff;
}

.topbar.topbar-clear {
  background: transparent;
}

.carousel-text span {
  font-size: 40px;
  font-weight: 100;
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

.carousel-text span.caps {
  text-transform:uppercase;
  font-weight: 700;
  font-size: 60px;
  padding-bottom: 40px;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 40px;
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.features img.img-responsive {
  margin: 0 auto;
}

.pricing {
  padding-bottom: 20px;
}
.pricing [class*="col-"] {
  margin-bottom: 20px;
}
.banner {
  margin-bottom: 0;
  background-color: #2980b9;
  color: #fff;
  text-transform:uppercase;
  padding: 5px 0px;
}
.pricing .item {
  padding-bottom: 20px;
  background-color: #333;
  color: #fff;
}

.pricing .package {
  padding: 5px 0;
}

.pricing .pro {
  background-color: #2980b9;
}

.pricing .starter {
  background-color: #95a5a6;
}

.pricing .cost {
  font-size: 48px;
  line-height: 100px;
}

.pricing .free {
  color: #fff;
}

.pricing .extra {
  font-style:italic;
}

.subheader {
  padding-top: 10px;
}

.important p{
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.important p.point{
  color: #d35400;
  font-size: 22px;
  letter-spacing: -1px;
  font-weight: 700;
}

.important b{
  color: #d35400;
  font-size: 22px;
  letter-spacing: -1px;
  white-space: nowrap;
}

@media (max-width: 979px) {
  h3 {
    font-size: 100px;
    font-size: 30px;
    line-height: 30px
  }
  .carousel-text span {
    font-size: 16px;
  }
  .captioned {
    padding: 20px 0px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .topbar .logo.pull-left {
  }
  .carousel-text span {
    font-size: 16px;
  }
  .captioned {
    text-align: center;
  }
  .grey {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .grey .container, .grey .row {
    padding-top: 0px;
  }
  .grey [class*="span"]{
    border-top: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .hide-small {
    display: none;
  }

  .footer span {
    display: block;
  }
  .footer .btn {
    margin-top: 12px;
  }
}

@media (max-width: 568px) {
  .topbar .btn {
    display: none;
  }
  .topbar {
    text-align: center;
  }
  .topbar .logo {
    float: none;
  }
  .footer {
    text-align: center;
    min-height: 90px;
  }
  .footer .pull-right {
    float:none;
  }
  .footer img {
    display: none;
  }

  .footer span {
    display: none;
  }
  .footer .btn {
    margin-top: 5px;
  }
}