<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="page">
        <div class="topbar">
          <div class="topbar-inner">
            <a class="btn pull-right" href="https://app.shiftly.com/">Sign Up</a>
            <a class="btn no-style pull-right" href="https://app.shiftly.com/">Login</a>
            <img class="logo" src="./img/logo-white.png"/>
          </div>
        </div>
      {{ content }}
      <script type="text/javascript" src="./js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="./js/bootstrap.min.js"></script>
      <script type="text/javascript" src="./js/shiftly.js"></script>
      </div>
    </body>
</html>
