<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic' rel='stylesheet' type='text/css'>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-43610147-1', 'shiftly.com');
          ga('send', 'pageview');

        </script>
    </head>
    <body>
      <div class="page">
        <div class="topbar{%if page.home%} topbar-clear{% endif %}">
          <div class="topbar-inner">
            <div>
              <a class="btn no-style pull-right" href="https://app.shiftly.com/">Login</a>
              <a class="btn pull-right signup" href="https://app.shiftly.com/sign_up">Sign Up</a>
              <a class="btn no-style pull-right" href="/pricing/">Pricing</a>
              <a class="btn no-style pull-right hide-small" href="/#features">Features</a>
            </div>
            <a href="/">
                <img class="logo" src="/img/logo{%if page.home%}-white{% endif %}.png"/>
            </a>
          </div>
        </div>
        {{ content }}
        <div class="footer">
          <div class="topbar-inner">
            <a class="btn no-style pull-right" href="https://app.shiftly.com/">Login</a>
            <a class="btn pull-right signup" href="https://app.shiftly.com/sign_up">Sign Up</a>
            <a class="btn no-style pull-right" href="/pricing/">Pricing</a>
            <img class="logo" src="/img/logo-white.png"/>
            <span>Awesome online rostering</span>
          </div>
        </div>
      </div>
      <script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/js/shiftly.js"></script>
      <!-- Google Code for Remarketing Tag -->
      <!--
      Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
      -->
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 992023912;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992023912/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
      </noscript>
    </body>
</html>
